<%= stylesheet_link_tag "pictures", property: :stylesheet %>
<%= javascript_include_tag "pictures" %>

<div class="container-fluid" data-ng-app="BlueSquare">


  <nav class="navbar navbar-default navbar-fixed-top">
    <h1 class="photolounge"><a data-ui-sref="index" href="#">Clean Notes</a></h1>
  </nav>

  <main data-ui-view>
  </main>

</div>
