<%= stylesheet_link_tag "pictures", property: :stylesheet %>
<%= javascript_include_tag "pictures" %>

<div class="container" data-ng-app="BlueSquare">
  <header>
    <img width="100" height="100" src="http://i.imgur.com/ueym1ZD.jpg"/>
    <h1 class="index"><a data-ui-sref="index" href="#">BlueSquare</a></h1>
    <hr>
  </header>
  <main data-ui-view>

  </main>
</div>
