<%= stylesheet_link_tag "pictures", property: :stylesheet %>
<%= javascript_include_tag "pictures" %>

<div class="container-fluid" data-ng-app="BlueSquare">

  <header id="topbar" class="row">
    <div class="col-xs-4">
      <h1 class="photolounge"><a data-ui-sref="index" href="#">Note Taker</a></h1>
    </div>
    <div class="col-xs-offset-4 col-xs-2">
      <h1>Login</a></h1>
    </div>
    <div class="col-xs-1">
      <h1>Signup</h1>
    </div>
  </header>

  <main data-ui-view>
  </main>

</div>
