/*
*= require bootstrap.min
*/

/**{
  border: 1px solid red;
}*/

h1 {

  margin-top: 10px;
  font-size: 30px;
  text-align: center;
}
.notebox{
  margin-top: 50px;
}

#notes{
  margin-top: 10px;
  font-size: 30px;
  text-align: center;
  background-color: lightgray;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #333;
}
#topbar{
  background-color: lightblue;
}
h4{
  text-align: center;
}
.showdata{
  margin-top: 90px;
}
